src/main/resources/diretta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="REGIONE" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PERIODO" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ASL" minOccurs="1" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="EROGATORE" minOccurs="1" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ASSISTITO" minOccurs="1" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="OPERAZIONE" minOccurs="1" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="PRESCRIZIONE" minOccurs="1" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="PRESCRITTORE" minOccurs="1" maxOccurs="1">
																										<xsd:complexType>
																											<xsd:attribute name="tipo_pr" use="optional">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:enumeration value="F"/>
																														<xsd:enumeration value="P"/>
																														<xsd:enumeration value="H"/>
																														<xsd:enumeration value="A"/>
																														<xsd:enumeration value="G"/>
																														<xsd:enumeration value="T"/>
																														<xsd:enumeration value="C"/>
																														<xsd:enumeration value="U"/>
																														<xsd:enumeration value="D"/>
																														<xsd:enumeration value="Z"/>
																														<xsd:enumeration value="I"/>
																														<xsd:enumeration value="X"/>
																														<xsd:enumeration value="B"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="cod_pr" use="optional">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:length value="16"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="FARMACO" minOccurs="1" maxOccurs="unbounded">
																										<xsd:complexType>
																											<xsd:attribute name="cod_f" use="optional">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:pattern value="[0-9a-zA-Z]{1,9}"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="tipo_f" use="required">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:enumeration value="1"/>
																														<xsd:enumeration value="2"/>
																														<xsd:enumeration value="3"/>
																														<xsd:enumeration value="4"/>
																														<xsd:enumeration value="5"/>
																														<xsd:enumeration value="6"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="targatura" use="optional">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:pattern value="[0]{1}|[0-9]{9}[0-9AX]{0,1}"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="costo_acq" use="required">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:pattern value="-{0,1}[0-9]{1,8}\.{1}[0-9]{2,5}"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="costo_srv" use="optional">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:pattern value="-{0,1}[0-9]{1,4}\.{1}[0-9]{2}"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="qta" use="required">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:string">
																														<xsd:pattern value="-{0,1}[0-9]{1,12}\.{0,1}[0-9]{0,2}"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																											<xsd:attribute name="fatt_conv" use="required">
																												<xsd:simpleType>
																													<xsd:restriction base="xsd:integer">
																														<xsd:minInclusive value="1"/>
																														<xsd:maxInclusive value="999999"/>
																													</xsd:restriction>
																												</xsd:simpleType>
																											</xsd:attribute>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																								<xsd:attribute name="tipo_cont" use="required">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:pattern value="[1-2]{1}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="id_cont" use="required">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:maxLength value="20"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="dat_erog" use="required">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:date">
																											<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="tipo_esen" use="optional">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:enumeration value="0"/>
																											<xsd:enumeration value="1"/>
																											<xsd:enumeration value="2"/>
																											<xsd:enumeration value="3"/>
																											<xsd:enumeration value="4"/>
																											<xsd:enumeration value="5"/>
																											<xsd:enumeration value="9"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="tipo_erog" use="required">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:pattern value="[0-9]{2}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="tipo_canale" use="required">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:enumeration value="P"/>
																											<xsd:enumeration value="D"/>
																											<xsd:enumeration value="R"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="cod_esen" use="optional">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:pattern value="[0-9A-Za-z]{1,6}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="quota_fissa_ass" use="optional">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:pattern value="[0-9]{1,3}\.{1}[0-9]{2}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="quota_perc_ass" use="optional">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:pattern value="[0-9]{1,3}\.{1}[0-9]{2}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="dat_pres" use="optional">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:date">
																											<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																								<xsd:attribute name="costo_srv_ric" use="optional">
																									<xsd:simpleType>
																										<xsd:restriction base="xsd:string">
																											<xsd:pattern value="[0-9]{1,4}\.{1}[0-9]{2}"/>
																										</xsd:restriction>
																									</xsd:simpleType>
																								</xsd:attribute>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																					<xsd:attribute name="tipo_op" use="required">
																						<xsd:simpleType>
																							<xsd:restriction base="xsd:string">
																								<xsd:enumeration value="I"/>
																								<xsd:enumeration value="V"/>
																								<xsd:enumeration value="C"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:attribute>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="id_ass" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:length value="88"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="vld_id_ass" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="0"/>
																					<xsd:enumeration value="1"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="tip_id_ass" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="0"/>
																					<xsd:enumeration value="1"/>
																					<xsd:enumeration value="2"/>
																					<xsd:enumeration value="3"/>
																					<xsd:enumeration value="4"/>
																					<xsd:enumeration value="97"/>
																					<xsd:enumeration value="98"/>
																					<xsd:enumeration value="99"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="dat_nasc" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:date">
																					<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="sesso" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="1"/>
																					<xsd:enumeration value="2"/>
																					<xsd:enumeration value="9"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="cod_asl_ass" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:pattern value="[0-9]{6}"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="citt" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:enumeration value="1"/>
																					<xsd:enumeration value="2"/>
																					<xsd:enumeration value="9"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="stat_est" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:pattern value="[a-zA-Z]{2}"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="cod_ist_comp" use="optional">
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:string">
																					<xsd:length value="28"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attribute name="tipo_er" use="required">
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:pattern value="[0-9]{2}"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:attribute>
															<xsd:attribute name="tipo_str" use="optional">
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:pattern value="[0-9]{2}"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:attribute>
															<xsd:attribute name="id_er" use="required">
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:pattern value="[0-9a-zA-Z\-]{1,8}"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:attribute>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="cod_asl" use="required">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:pattern value="[0-9]{6}"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="mese" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="01"/>
												<xsd:enumeration value="02"/>
												<xsd:enumeration value="03"/>
												<xsd:enumeration value="04"/>
												<xsd:enumeration value="05"/>
												<xsd:enumeration value="06"/>
												<xsd:enumeration value="07"/>
												<xsd:enumeration value="08"/>
												<xsd:enumeration value="09"/>
												<xsd:enumeration value="10"/>
												<xsd:enumeration value="11"/>
												<xsd:enumeration value="12"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="anno" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="[2][0][0-9]{2}"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="cod_reg" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{3}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CANCELLAZIONE_MASSIVA_DATI" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="REGIONE" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PERIODO" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ASL" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:attribute name="cod_asl" use="required">
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:pattern value="[0-9]{6}"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:attribute>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
												<xsd:attribute name="mese" use="required">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="01"/>
															<xsd:enumeration value="02"/>
															<xsd:enumeration value="03"/>
															<xsd:enumeration value="04"/>
															<xsd:enumeration value="05"/>
															<xsd:enumeration value="06"/>
															<xsd:enumeration value="07"/>
															<xsd:enumeration value="08"/>
															<xsd:enumeration value="09"/>
															<xsd:enumeration value="10"/>
															<xsd:enumeration value="11"/>
															<xsd:enumeration value="12"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="anno" use="required">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:pattern value="[2][0][0-9]{2}"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
												<xsd:attribute name="tipo_canale" use="optional">
													<xsd:simpleType>
														<xsd:restriction base="xsd:string">
															<xsd:enumeration value="P"/>
															<xsd:enumeration value="D"/>
															<xsd:enumeration value="R"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="cod_reg" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="[0-9]{3}"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
